.contactDisplay {
    display: flex;

    justify-content: space-between;

    height: 80%;
}

.contactDisplay > .captionText {
    display: flex;
    flex-direction: column;

    justify-content: center;

    width: 60%;

    gap: 20px;
    padding: 100px;
}

.contactDisplay > .captionText > .subtitleText {
    margin-left: 20px;
    padding-left: 30px;

    border-left: 5px solid
}

.contactDisplay > .contactModules {
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: center;

    margin: 50px;
    gap: 100px;
}

.contactDisplay > .contactModules > .contactModule {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.contactDisplay > .contactModules > .contactModule > .contactTitle {
    display: flex;
    flex-direction: row;
    
    align-items: center;

    gap: 20px;
}

.contactDisplay > .contactModules > .contactModule > .contactTitle > img {
    height: 50px;
}

.contactDisplay > .contactModules > .contactModule > .bodyText {
    font-size: 1.25rem;

    opacity: 0;
}