.timelineModules {
    display: flex;
    flex-direction: row;
}

/* Intro Display */

.bannerDisplay {
    display: flex;

    position: fixed;
    top: 0;

    height: 100vh;

    z-index: 900;
}

.bannerDisplay > .captionText {
    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 50px;

    background-color: #B9B9B9;
}

/* Intro Display Rotating Caption Text */

.bannerDisplay > .captionText > .rotatingCaption {
    display: flex;

    justify-content: flex-start;

    align-items: center; /* Note: align-items will affect items within the container. Don't mistake with align-content! :) */

    margin-left: 10px;
}

.bannerDisplay > .captionText > .rotatingCaption > .subtitleText {
    font-size: 54px;
}

.bannerDisplay > .captionText > .titleText {
    font-size: 7rem;
}

/* Intro Display Rotating Caption Animation */

@keyframes rotateCaption {
    0% {
        transform-origin: bottom;
        transform:rotateX(-90deg);
    }
    20% {
        transform-origin: bottom;
        transform:rotateX(0deg);
    }
    80% {
        transform-origin: bottom;
        transform:rotateX(0deg);
    }
    100% {
        transform-origin: bottom;
        transform:rotateX(90deg);
    }
}

.animateCaption {
    animation-name: rotateCaption;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Timeline Display */

.timelineDisplay {
    display: flex;
    flex: 1;

    padding: 50px;
    gap: 50px;

    height: 110vh;
}

.timelineDisplay > .displayModules {
    display: flex;
    flex: 1;
    flex-direction: row;

    box-sizing: content-box;

    justify-content: space-between;

    margin-top: 20px;
}

.timelineDisplay > .timelineLine {
    position: fixed;
    right: 5vw;

    width: 50px;
    height: 75vh;

    justify-content: center;

    background-color: #C7C0B5;

    padding: 5px 10px;
    border-radius: 20px;
}

.timelineDisplay > .displayModules {
    display: flex;

    justify-content: flex-end;

    margin-right: 5vw;
}

.timelineDisplay > .displayModules > .experienceModules {
    display: flex;
    flex-direction: column;

    position: fixed;

    padding: 20px;
    gap: 10px;

    width: 50vw;
}