.introDisplay {
    display: flex;
}

.introDisplay > .captionText {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;

    height: 90vh;

    background-color: red;
}

.introDisplay > .captionText > .titleText {
    padding: 50px;
}

.introDisplay > .captionText > .rotatingCaption {
    display: flex;

    justify-content: flex-end;

    height: 100px;

    align-items: center; /* Note: align-items will affect items within the container. Don't mistake with align-content! :) */

    border-right: 5px solid #5E5653;
    margin-right: 50px;
}

.introDisplay > .captionText > .rotatingCaption > .subtitleText {
    padding-right: 30px;
}

.timelineDisplay > .displayModules {
    height: 1000px;
}

@keyframes rotateCaption {
    0% {
        transform-origin: bottom;
        transform:rotateX(-90deg);
    }
    20% {
        transform-origin: bottom;
        transform:rotateX(0deg);
    }
    80% {
        transform-origin: bottom;
        transform:rotateX(0deg);
    }
    100% {
        transform-origin: bottom;
        transform:rotateX(90deg);
    }
}

.animateCaption {
    animation-name: rotateCaption;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}