/* Intro Display */

.introDisplay {
    display: flex;

    justify-content: space-between;

    gap: 75px;

    margin-bottom: 100px;
}



/* Intro Display Photo */

.introDisplay > .posePhoto {
    width: 450px;
    height: auto;

    margin: 50px;

    border-radius: 20%;
}



/* Intro Display Caption Text */

.introDisplay > .captionText {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: flex-end;

    padding: 50px;
    gap: 30px;

    text-align: right;

    color: #5E5653;

    background-image: url(./assets/img/backgroundCircle.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.introDisplay > .captionText > .titleText {
    display: flex; 

    font-size: 8rem;
}

.introDisplay > .captionText > .subtitleText {
    font-size: 36px;

    text-wrap: pretty;

    margin-right: 25px;
    padding-right: 30px;
    border-right: 5px solid #5E5653;
}



/* About Me Display */

.aboutMeDisplay {
    display: flex;

    margin: 100px;
}
.aboutMeDisplay > .displayText {
    display: flex;
    flex-direction: column;

    justify-content: center;
    
    gap: 30px;
}

.aboutMeDisplay > .displayText > .titleText {
    font-size: 3rem;
    font-weight: 700;

    text-align: left;    
}

.aboutMeDisplay > .displayText > .bodyText {
    text-wrap: pretty;
    text-align: left;

    width: clamp(45ch, 50%, 75ch);
}



/* Skills and Abilities Display */

.skillsDisplay {
    display: flex;
    flex-direction: column;

    margin: 100px;
}

.skillsDisplay > .displayText {
    display: flex;
}

.skillsDisplay > .displayText > .titleText {
    font-size: 3rem;
    font-weight: 700;
}

.skillsDisplay > .displayModules {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin: 50px;
}

.skillsDisplay > .displayModules > .skillGroupSelectors {
    display: flex;
    flex-direction: column;

    gap: 50px;
}

.skillsDisplay > .displayModules > .skillGroupSelectors > .skillGroup {
    display: flex;

    justify-content: center;
    
    align-items: center;

    background-color: #D9D9D9;
    border-radius: 25px 0px 0px 25px;

    width: 100px;
    height: 250px;

    font-weight: 700;

    writing-mode: sideways-lr;
    text-orientation: sideways;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.skillsDisplay > .displayModules > .skillGroupSelectors > .skillGroup:hover {
    animation-name: inflate;
}

.skillsDisplay > .displayModules > .skillTabDisplay {
    flex-grow: 1;

    background-color: #C9C9C9;
    
    min-height: 900px;

    padding: 50px;
    gap: 20px;

    border-radius: 25px;
}



/* Title Animation */

@keyframes titleSmashRight {
    0% {
        
        transform:scale(1, 1);
    }
    20% {
        transform-origin: right center;
        transform:scale(1, 1);
    }
    35% {
        transform-origin: right center;
        transform:scale(1.1, 0.9);
    }
    75% {
        transform-origin: right center;
        transform:scale(0.05, 1.2);
    }
    80% {
        transform-origin: right center;
        transform:scale(0, 1.2);
    }
    100% {
        transform-origin: right center;
        transform:scale(0, 1.2);
    }
}

@keyframes titleSlideRight {
    0% {
        transform:translateX(0px);
    }
    20% {
        transform:translateX(0px);
    }
    35% {
        transform:translateX(-15px);
    }
    75% {
        transform:translateX(140px);
    }
    80% {
        transform:translateX(180px);
    }
    100% {
        transform:translateX(180px);
    }
}

.animateSlideRight {
    display: block;

    animation-name: titleSlideRight;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.animateSmashRight {
    display: flex;

    animation-name: titleSmashRight;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* skillGroup Header Animation */

@keyframes inflateHeader {
    0% {
        transform:scaleY(1);
    }
    100% {
        transform:scaleY(2);
    }
}

.skillsDisplay > .displayModules > .skillGroupSelectors > .skillGroup:hover {
    animation-name: inflateHeader;
    animation-duration: 1s;
    animation-iteration-count: 0.2;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}