/* MASTER sheet used for ALL formatting across all pages */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body:not(.animation) {
    display: flex;
    flex-direction: column;

    font-family: 'Times New Roman', Times, serif;

    background-color: #E9E9E9;

    height: 100%;

    overflow-x: hidden;
}


/* Horizontal line for decoration */

.horizontalLine {
    border: 1px solid rgb(94 86 83 / 50%);
    margin: 50px;
}

/* Fira Sans Condensed for Titles */

@font-face {
    font-family: frauncesVariable;
    src: url(/assets/fonts/frauncesVariable.woff2);
}

.titleText {
    font-family: frauncesVariable;

    color: #5E5653;

    text-wrap: nowrap;
}

/* Karla Variable for Subtitles and Body Text */

@font-face {
    font-family: karlaVariable;
    src: url(/assets/fonts/karlaVariable.woff2);
}

.subtitleText {
    font-family: karlaVariable;
    font-size: 2rem;  /* Assuming 16px = 1rem, equates to 32px. Helps w/ accessibility. */

    color: #5E5653;
}

.bodyText {
    font-family: karlaVariable;
    font-size: 1.5rem; /* Assuming 16px = 1rem, equates to 24px. Helps w/ accessibility. */

    color: #5E5653;
}

/* Overhead Display */

.overheadDisplay {
    background-color: #F0F0F0;

    position: sticky;
    top: 0;
    align-self: flex-start;

    width: 100vw;
    height: auto;

    z-index: 1000;
}



/* Modules within the banner */

.overheadDisplay > .displayModules {
    display: flex;

    justify-content: space-between;
    align-content: center;

    padding: 20px;
    padding-right: 40px;
    gap: 100px;
}



/* Overhead Banner Logo */

.overheadDisplay > .displayModules > .logoPhoto img {
    width: 60px;
    height: 60px;

    border: none;
    outline: none;
}



/* Overhead Banner Links */

.overheadDisplay > .displayModules > .links {
    display: flex;
    flex-direction: row;

    align-content: center;

    gap: 50px;

    list-style-type: none;

    text-wrap: nowrap;
}

.overheadDisplay > .displayModules > .links a {
    display: inline-block;

    color: #5E5653;
    
    font-weight: 400;
    font-size: 24px; /* Keep banner text from changing size */

    text-decoration: none;

    transform: scale(1);
    transform-origin: center;
    transition: 0.15s ease-in-out;
}

.overheadDisplay > .displayModules > .links a:hover {
    transform: scale(1.2);
}



/* Footer Display */

.footerDisplay > .displayModules {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;

    background-color: #F0F0F0;

    width: 100vw;
    height: 200px;
}

.footerDisplay > .displayModules > .copyrightText {
    display: flex;

    justify-content: center;
    padding: 30px;
}

.footerDisplay > .displayModules > .linkText {
    display: flex;

    justify-content: center;

    padding: 30px;
}

.footerDisplay > .displayModules > .linkText > .subtitleText > a {
    color: #5E5653;

    padding: 10px;
}