/* Overhead Display */

.overheadDisplay {
    background-color: #F0F0F0;

    position: sticky;
    top: 0;
    align-self: flex-start;

    width: 100vw;
    height: auto;
}



/* Modules within the banner */

.displayModules {
    display: flex;

    justify-content: space-between;

    padding: 40px;
    gap: 100px;
}



/* Overhead Banner Logo */

.displayModules > .logoPhoto img {
    width: 50px;
    height: 50px;

    border: none;
    outline: none;
}



/* Overhead Banner Links */

.displayModules > .links {
    display: flex;
    flex-direction: row;

    align-content: center;

    gap: 50px;

    list-style-type: none;

    text-wrap: nowrap;
}

.displayModules > .links a {
    color: #5E5653;
    
    font-weight: 400;
    font-size: 24px; /* Keep banner text from changing size */

    text-decoration: none;
}



/* Intro Display */

.introDisplay {
    display: flex;

    justify-content: space-between;

    gap: 150px;

    margin-bottom: 150px;
}



/* Intro Display Photo */

.introDisplay > .posePhoto {
    width: 30%;
    min-width: 300px;
    max-width: 500px;

    height: auto;
    min-height: 350px;

    margin: 50px;

    border-radius: 20%;
}



/* Intro Display Caption Text */

.introDisplay > .captionText {
    display: flex;
    flex-direction: column;
    flex-basis: 600px;

    justify-content: center;
    align-content: flex-end;

    padding: 50px;
    gap: 30px;

    text-align: right;

    color: #5E5653;

    background-image: url(/assets/img/backgroundCircle.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.introDisplay > .captionText > .titleText {
    font-size: 128px;
    font-weight: 700;

    text-wrap: nowrap;
}

.introDisplay > .captionText > .subtitleText {
    font-size: 36px;

    text-wrap: pretty;

    margin-right: 25px;

    padding-right: 30px;
    border-right: 5px solid #5E5653;
}



/* About Me Display */

.aboutMeDisplay {
    display: flex;

    justify-content: center;

    margin: 100px;
}
.aboutMeDisplay > .displayText {
    display: flex;
    flex-direction: column;

    justify-content: center;
    
    gap: 30px;

    color: #5E5653;
}

.aboutMeDisplay > .displayText > .titleText {
    font-size: 2.25rem;
    font-weight: 700;

    text-wrap: nowrap;
    text-align: left;    
}

.aboutMeDisplay > .displayText > .bodyText {
    text-wrap: pretty;
    text-align: left;
}