/* MASTER sheet used for ALL formatting across all pages */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Times New Roman', Times, serif;

    height: 100%;

    overflow-x: hidden;
}


/* Horizontal line for decoration */

.horizontalLine {
    border: 1px solid rgb(94 86 83 / 50%);
    margin: 50px;
}

/* Fira Sans Condensed for Titles */

@font-face {
    font-family: frauncesVariable;
    src: url(/assets/fonts/frauncesVariable.woff2);
}

.titleText {
    font-family: frauncesVariable;
}

/* Karla Variable for Subtitles and Body Text */

@font-face {
    font-family: karlaVariable;
    src: url(/assets/fonts/karlaVariable.woff2);
}

.subtitleText {
    font-family: karlaVariable;
    font-size: 2rem;  /* Assuming 16px = 1rem, equates to 32px. Helps w/ accessibility. */
}

.bodyText {
    font-family: karlaVariable;
    font-size: 1.5rem; /* Assuming 16px = 1rem, equates to 24px. Helps w/ accessibility. */
}