/* MASTER sheet used for ALL formatting across all pages */

* {
    margin: 0px;
    background-color: #E9E6E7;
    box-sizing: border-box;
}

.body {
    font-family: 'Times New Roman', Times, serif;
}


/* Horizontal line for decoration */

.horizontalLine {
    border: 1px solid #5E5653 / 50%;
    margin: 50px;
}

/* Fira Sans Condensed for Titles */

@font-face {
    font-family: firaSansCondensedReg;
    src: url(/assets/fonts/firaSansCondensedRegular.woff2);
}

/* Comfortaa Variable for Subtitles and Decorative Text */

@font-face {
    font-family: comfortaaVariable;
    src: url(/assets/fonts/comfortaaVariable.woff2);
}

/* Karla Variable for Body Text */

@font-face {
    font-family: karlaVariable;
    src: url(/assets/fonts/karlaVariable.woff2);
}