/* Title Banner */

.titleBanner {
    display: flex;
    flex-direction: column;

    height: 50vh;

    justify-content: center;

    background-color: #B9B9B9;
    background-image: url(/projects/assets/webLogo.svg);
    background-repeat: no-repeat;
}

.titleBanner > .displayModules {
    display: flex;
    flex-direction: column;

    margin: 100px;
    gap: 20px;
}

.titleBanner > .displayModules > .titleText {
    color: #D8D4C9;
}

.titleBanner > .displayModules > .subtitleText {
    font-weight: 700;

    padding-left: 30px;

    color: #D8D4C9;
}



/* Blog Body */

.blogBody {
    display: flex;
    flex-direction: row;

    margin: 50px;
    padding: 5vw;
}

/* Blog Links */

.blogBody > .blogLinks {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 400px;

    padding: 20px;
    gap: 20px;
    margin-left: 5vw;

    border-radius: 20px;

    text-wrap: wrap;
}

.blogBody > .blogLinks > .titleText {
    font-size: 2rem;
}

.blogBody > .blogLinks > ul {
    list-style: none;

    padding-left: 10px;
    margin-left: 10px;

    border-left: 5px solid #5E5653;
}



/* Blog Modules */

.blogBody > .blogModules {
    display: flex;
    flex-direction: column;

    gap: 100px;

    width: 75%;
}

.blogBody > .blogModules > .blogModuleTypeOne {
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.blogBody > .blogModules > .blogModuleTypeTwo {
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.blogBody > .blogModules > .blogModuleTypeTwo > .moduleDisplay {
    display: flex;
    flex-direction: row;

    gap: 50px;
}

.blogBody > .blogModules > .blogModuleTypeTwo > .moduleDisplay > .bodyDisplayText {
    display: flex;
    flex-direction: column;
    flex: 1;

    gap: 50px;
}

.blogBody > .blogModules > .blogModuleTypeTwo > .moduleDisplay > .imgDisplay {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: auto;

    gap: 20px;
}

.blogBody > .blogModules > .blogModuleTypeTwo > .moduleDisplay > .imgDisplay > .captionText {
    font-size: 1rem;
}

.blogBody > .blogModules > .blogModuleTypeThree {
    display: flex;
    flex-direction: column;

    gap: 25px;
}